@{
    ViewData["Title"] = "Ana Sayfa";
}

<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">

            <div class="card shadow-lg rounded-4 border-0 bg-light p-5">
                <h1 class="display-4 text-danger mb-3">Organik Market Projesine Hoşgeldiniz</h1>
                <p class="lead text-secondary">
                    🥦 Taze ürünler, 🥗 sağlıklı tarifler ve daha fazlası burada!
                </p>
            </div>

        </div>
    </div>
</section>
