@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center mt-5">
    <h1 class="display-4">Organik Market Projesine Hoşgeldiniz</h1>
    <p class="lead">Taze ürünler, sağlıklı tarifler ve daha fazlası burada!</p>
</div>