@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="card shadow-sm rounded-4 border-0 bg-light p-5">
                <h1 class="text-danger mb-4">@ViewData["Title"]</h1>
                <p class="lead text-secondary">
                    Use this page to detail your site's privacy policy.
                </p>
            </div>

        </div>
    </div>
</section>
